h1 {
    font-size: 18px;
    font-weight: 900;
    color: rgb(100,100,100);
    line-height: 30px;
}

th{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:#3333b0;
}
a, a:visited{
    color: rgb(30,100,30);
    text-decoration:none;
    font-weight:800;

}

img{
    width:100px;
    height:auto;
}
